/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

/* SPECIAL */

#menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  padding-top: 55px;
}

#menu li{
  margin: 0px 20px;
}

#menu li a{
  color: #292929;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

/* HEADER */
#logo-header {
  padding: 15px;
}

/* UTILS */
.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}


#menu li:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

/* BODY  */
body {
  font-family: "Open Sans", sans-serif;
}

/* MAIN */
main {
  background-color: #1c1c1c;
  color: white;
  padding: 20px 0px;
}

/* .jumbotron {
  width: 100%;
  height: 450px;
  background-image: url(/public/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
}

.jumbotron img {
  width: 100%;
  display: block;
}


main .container-fluid {
  background-color: #1c1c1c;
  height: 400px
} */

/* HEADER */





/* FOOTER */

.top-footer {
  background-color: #0282f9;
  padding: 30px 0;
}

.icons-list{
  display: flex;
  justify-content: space-around;
}

.icons-list img{
  width: 75px;
  height: 75px;
  vertical-align: middle;
  margin-right: 15px;
  object-fit: contain;
}

.icons-list span{
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
}

.middle-footer{
  height: 370px;
  background-image: url(/public/img/footer-bg.jpg);
}

.middle-footer-dc-logo{
  background-image: url(/public/img/dc-logo-bg.png);
  background-repeat: no-repeat;
  position: relative;
  bottom: 100px;
  left: 50px;
}

/* .card { 
  display: flex;
  align-items: center;
  gap: 10px;
}
.card p {
  font-size: 12px;
  padding: 10px;
  color: white;
  white-space: nowrap;
}

.card img {
 width: 50px;
 height: 50px;
 object-fit: contain;
}

.container-background {
  background-image: url(/public/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  display: flex;
}

.container-background h2 {
  color: white;
  padding-bottom: 10px;
}

.container-background ul {
  flex-direction: column;
  flex-wrap: wrap;
  color: #797979;
  justify-content: center;
  list-style: none;
  font-size: smaller;
  padding-right: 30px;
}

.container-background ul li {
  padding-bottom: 5px;
}

.container-background .container-fluid{
  width: 50%;
}
.container-dc {
  background-image: url(/public/img/dc-logo-bg.png);
  
}


.container-grey {
  background-color: #303030;
  height: 200px;
} */
