/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  
}

main {
  text-align: center;
  background-color: #1c1c1c;
  height: 25vh; /* Test Main */
}

.container-fluid {
  display: flex;
  max-width: 1200px;
  padding: 0px auto;
}

header {
  padding: 15px 0px;
}

.header-col {
  width: 50%;
}

#menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  padding-top: 55px;
}

#menu li a {
  color: #292929;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

#logo img {
  width: 150px;
  vertical-align: middle;
  padding: 30px;
}

#menu {
  display: flex;
  justify-content: center;
  padding: 0px;
  list-style: none;
}

#menu li {
  padding: 10px;
  height: 100%;
}

#menu li a.active,
#menu li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.align-items-center {
  align-items: center;
}

.container {
  max-width: 100%;
}

.container-blue {
  background-color: #0282f9;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.card { 
  display: flex;
  align-items: center;
  gap: 10px;
}
.card p {
  font-size: 12px;
  padding: 10px;
  color: white;
  white-space: nowrap;
}

.card img {
 width: 50px;
 height: 50px;
 object-fit: contain;
}

.container-background {
  background-image: url(/public/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  display: flex;
}

.container-background h2 {
  color: white;
  padding-bottom: 10px;
}

.container-background ul {
  flex-direction: column;
  flex-wrap: wrap;
  color: #797979;
  justify-content: center;
  list-style: none;
  font-size: smaller;
  padding-right: 30px;
}

.container-background ul li {
  padding-bottom: 5px;
}

.container-background .container-fluid{
  width: 50%;
}
.container-dc {
  background-image: url(/public/img/dc-logo-bg.png);
  
}


.container-grey {
  background-color: #303030;
  height: 200px;
}
